body{
    margin:0;
}

img{
    width: 40px;
    height: 60px;
}

.top_block_logo{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #42f584;
    margin: 0px;
}
.Down_block{
    width: 100vw;
    height: 4vw;
    display: table;
    justify-content: center;
    background-color: #42f584;
    margin: 0px;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.tool_bar{
    width: 90%;
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    background-color: #42f584;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
}

a::before{
    content:"|" ;
}
a::after{
    content:"|" ;
}

.hero{
    background-image: url("/Images/petting_dog.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.hero_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing_image_content{
    width: 100%;
    text-align: center;
    margin-top: 25rem;
    background-color: rgba(255,255,115,0.34);
}

.feature{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 1rem 0 0 0;
    background-color: #42f584;
    align-items: center;
    justify-content: center;
}
.feature h3{
    text-align: center;
    background-color: gray;
    padding: 1rem;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    flex-direction: row;
}
.feature_img{
    width: 150px;
    height: 100px;
}
.feature_img_network{
    width: 50px;
    height: 50px;
    margin: -10rem;
}
.feature_img_star{
    width: 300px;
    height: 60px;
}
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
